<div class="container">
    <div class="card">
      <div class="card-header">
        <h5><i class="fas fa-edit"></i> Update Complain</h5>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <form novalidate [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-md-3">
                  <div class="md-form">
                    <label>Complaint ID</label>
                    <input mdbActive class="form-control" type="text" formControlName="ComplaintId" disabled>
                  </div>
                  </div>
                  <div class="form-group col-md-3">
                  <div class="md-form">
                    <label>Year:</label>
                    <input mdbActive class="form-control" type="text" pattern="\d*" maxlength="4" formControlName="Year">
                  </div>
                  </div>
                 <div class="col-md-6">
                    <div class="md-form">
                    <label>Report Reference:</label>
                    <input mdbActive class="form-control" type="text" formControlName="ReportReference">
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                  <div class="md-form">
                    <label>Domain:</label>
                    <input mdbActive class="form-control" type="text" formControlName="Domain">
                  </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Company Emp:</label>
                    <select class="form-control" id="CompanyEmp" formControlName="CompanyEmployeeId" (change)="change()">
                      <option  *ngFor="let emp of optionEmp" [value]="emp.CompanyEmployeeID">{{emp.Name}}</option>
                    </select>
                    <input type="hidden" id="EmployeeName" formControlName="CompanyEmployeeName">
                  </div>
                  <div class="form-group col-md-3">
                    <label>Complaint Type:</label>
                    <select class="form-control" formControlName="ComplaintType">
                      <option value="1">Low Priority</option>
                      <option value="2">Medium Priority</option>
                      <option value="3">High Priority</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Complaint Status:</label>
                    <select class="form-control" formControlName="ComplaintStatus">
                      <option value="1">To Do</option>
                      <option value="2">On Progress</option>
                      <option value="3">Done</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form">
                      <label>Comment:</label>
                      <textarea mdbActive class="md-textarea" rows="3" formControlName="Comment"></textarea>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form">
                    <label>Email Reference:</label>
                    <textarea mdbActive class="md-textarea"  rows="3" formControlName="EmailReference"></textarea>
                  </div>
                  </div>
                </div>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <button type="button" class="btn btn-dark" (click)="onBack()">
                  <i class="fas fa-chevron-left"></i> Back</button>
              </div>
              <div class="save-delete-btn">
                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Save</button>
                <button class="btn btn-danger wave-light" type="button" (click)="onDelete()"><i class="fas fa-trash-alt"></i> Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>