/* .ng-valid[required] , .ng-valid.required {
    border-bottom: 3px solid #42A948; 
  }
.ng-invalid:not(form):focus {
    border-bottom: 3px solid #a94442; 
  } */

.adjust-card-header{
  padding-bottom: 0px;
}
th{
  text-align: center
}
.adjust-com-docu{
  margin-top: 0px;
  margin-bottom: 10px;
}
tr:first-child{
  border-top: none;
}
tr{
  border-top: 2px solid #AFCA0A;
}
td{
  color: #262D60;
  font-weight: bold;
}
td:first-child{
  color: #AFCA0A;
}
