<div class="container">
    <div class="card">
      <div class="card-header">
        <h5><i class="fas fa-user-plus"></i> Add Complaint</h5>
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <form novalidate [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-3">
              <div class="md-form">
                <label>Complaint ID</label>
                <input mdbActive class="form-control" type="text" disabled>
              </div>
              </div>
              <div class="form-group col-md-3">
              <div class="md-form">
                <label>Year:</label>
                <input mdbActive class="form-control" type="text" pattern="\d*" maxlength="4" formControlName="Year" required>
              </div>
              </div>
             <div class="col-md-6">
                <div class="md-form">
                <label>Report Reference:</label>
                <input mdbActive class="form-control" type="text" formControlName="ReportReference" required>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
              <div class="md-form">
                <label>Domain:</label>
                <input mdbActive class="form-control" type="text" formControlName="Domain" required>
              </div>
              </div>
              <div class="form-group col-md-3">
                <label>Company Emp:</label>
                <select class="form-control" id="CompanyEmp" formControlName="CompanyEmployeeId" (change)="change()" [(ngModel)]="CompanyEmployeeId"required>
                  <option  *ngFor="let emp of optionEmp" [value]="emp.CompanyEmployeeID">{{emp.Name}}</option>
                </select>
                <input type="hidden" id="EmployeeName" formControlName="CompanyEmployeeName">
              </div>
              <div class="form-group col-md-3">
                <label>Complaint Type:</label>
                <select class="form-control" formControlName="ComplaintType" required>
                  <option value="1">Low Priority</option>
                  <option value="2">Medium Priority</option>
                  <option value="3">High Priority</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>Complaint Status:</label>
                <select class="form-control" formControlName="ComplaintStatus" required>
                  <option value="1">To Do</option>
                  <option value="2">On Progress</option>
                  <option value="3">Done</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form">
                  <label>Comment:</label>
                  <textarea mdbActive class="md-textarea" rows="3" formControlName="Comment" required></textarea>
              </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                <label>Email Reference:</label>
                <textarea mdbActive class="md-textarea"  rows="3" formControlName="EmailReference" required></textarea>
              </div>
              </div>
            </div>
            <!-- Complaint Document-->
         <div class="row .adjust-com-docu">
          <div class="col-md-10 offset-md-1">
              <div class="card">
                    <div class="card-header adjust-card-header">
                      <h5><i class="fas fa-table"></i> Complaint Document</h5>
                    </div>
                    <div class="card-body table-responsive table-striped">
                      <div class="row">
                         <div class="col-md-2">
                             <a  href="" target="_blank"  type="button" class="btn btn-success form-control btn-md" style="margin-left:0px;"><i class="fas fa-upload"></i> Upload</a>  
                          </div>
                      </div>
                    <table class="table table-hover">
                      <thead>
                        <tr class="table-header">
                          <th>ID</th>
                          <th>File Name</th>
                          <th>File Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td align="center">sample</td>
                          <td align="center">sample</td>
                          <td align="center">sample</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div> 
          </div>
      </div>
      <!-- Complaint Document -->
             <hr>
            <div class="row">
              <div class="col-md-12 add-btn-group">
                <button [disabled]="!complaintForm.valid"class="btn btn-primary wave-light" type="submit"><i class="fas fa-plus"></i> SUBMIT</button>
                <button class="btn btn-deep-orange waves-light" type="reset"><i class="fas fa-eraser adjust-erase"></i> CLEAR</button>
              </div>
            </div>
          </form>
        </div>
    </div>
</div> 
</div>