  <!--CARD1-->
  <div class="accordion">
      <div class="card card-outline-primary">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <h5><i class="fas fa-search"></i> Advance Search</h5>
            </a>
          </div>
          <div id="collapseOne" class="collapse">
            <div class="card-body">
            <form>
              <div class="row col-md-12">
                <div class="col-md-10">
                  <div class="row col-md-12">
                      <div class="col-md-4">
                      <div class="md-form">
                          <label>Report Reference:</label>
                          <input mdbActive type="text"class="form-control">
                      </div>
                      </div>
                      <div class="col-md-4">
                      <div class="md-form">
                          <label>Domain:</label>
                          <input mdbActive type="text" class="form-control">
                      </div>
                      </div>
                  </div>
                  <div class="row col-md-12">
                      <div class=" form-group col-md-4">
                          <label>Employee</label>
                          <select class="selectpicker form-control">
                            <option selected="true" disabled="disabled">Please select...</option>
                            <option>Alexis De Leon</option>
                            <option>DJ Siguenza</option>
                            <option>Jerome Francisco</option>
                          </select>
                        </div>
                        <div class=" form-group col-md-4">
                            <label>Complaint Type</label>
                            <select class="selectpicker form-control">
                              <option selected="true" disabled="disabled">Please select...</option>
                              <option>Low</option>
                              <option>Medium</option>
                              <option>High</option>
                            </select>
                          </div>
                          <div class=" form-group col-md-4">
                              <label>Complaint Status</label>
                              <select class="selectpicker form-control">
                                <option selected="true" disabled="disabled">Please select...</option>
                                <option>To Do</option>
                                <option>On Progress</option>
                                <option>Done</option>
                              </select>
                            </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-primary btn-block" mdbRippleRadius><i class="fas fa-search"></i> SEARCH</button>
                  <br>
                  <button type="reset"  class="btn btn-deep-orange waves-light btn-block"><i class="fas fa-eraser"></i> CLEAR</button> 
                </div>
              </div>
            </form>
           </div>
          </div>
      </div>
  </div>
          






