/* You can add global styles to this file, and also import other style files */
.btn-primary{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-primary:hover{
	background-color: #286090;
}
/* NAVBAR */
.navbar{
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar .nav-link{
	font-weight: bold;
	line-height: 2em;
	color: #ffffff;
	border-bottom: 1px solid transparent;
	font-size: 18px;
}
.navbar a:hover{
	border-bottom: 1px solid yellow;
}
.navbar-brand{
	font-size: 20px;
	color: yellow;
	padding: 10px 35px;
	border: 1px solid yellow;
	border-radius: 100px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* PAGES */
.card{
	margin-top: 20px;
}

#in_com_status{
	font-weight: bold;
}
body{
	background-color: #F4F5F7;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.card a .btn-default{
	margin-top: 10px
}

/* FOR TABLE */
.table{
	background-color: white;
	
}
td  a,
td button{
	margin: 0px;
}
.card-body button{
	margin-top: 0px;
}
.card-body a .btn-primary{
	font-weight: bold;
}

.table td button,
.card-body a .btn-primary{
	margin: auto;
	text-align: center;
	 -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.table h4{
	text-align: center;
	font-weight: bold;
}

label{
	font-weight: bold;
}
.card-header{
	background-color: #343a40;
	padding: 15px 20px;
}
a .btn{
	size: 20px;
}
thead{
	font-size: 17px;
}
.create-btn{
	margin-bottom: 8px;
	font-weight: bold;
	width: 170px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.ngx-pagination{
	font-size: 18px;
}
.save-delete{
	position: absolute;
	right: 20px;

}

