 <div class="card"   *ngIf="complaints && complaints.length">
     <h2 class="card-header text-white">Complaint List</h2>
    <div>
      <div class="card-body table-responsive table-striped table-bordered">
        <div class="row">
          <div class="col-md-4">
            <a routerLink="/add" class="btn btn-success btn-lg create-btn"><i class="fas fa-plus-circle"></i> Create</a>
          </div>
     </div>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Year</th>
            <th>Report Ref.</th>
            <th>Domain</th>
            <th>Com. Emp</th>
            <th>Priority Type</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="entry_table">
          <tr *ngFor="let complaint of complaints | paginate: { id: 'page-listing', itemsPerPage: 10, currentPage: page }">
           <td>{{complaint.ComplaintId}}</td>
           <td>{{complaint.Year}}</td>
           <td>{{complaint.ReportReference}}</td>
           <td>{{complaint.Domain}}</td>
           <td>{{complaint.CompanyEmp}}</td>
           <td align="center">{{complaint.ComplaintType | type }}</td>
           <td>{{complaint.ComplaintStatus| status }}</td>
           <td align="center">
             <a class="btn btn-info" [routerLink]="['/update', complaint.ComplaintId]" tooltip="View" placement="top"><i class="fas fa-eye"></i></a>
             <button class="btn btn-danger" tooltip="Delete" placement="top"><i class="fas fa-trash-alt"></i></button>
          </td>
       </tr>
        </tbody>
      </table>
       <div class="row">
         <div class="text-md-right col-md-12">
         <pagination-controls  id="page-listing" maxSize="5" directionLinks="true" (pageChange)=" page = $event "></pagination-controls>
       </div>
      </div>
      
     </div>
</div>
      </div>
