<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="logo">
      <img src="https://www.certinergie.be/wp-content/themes/Certinergie/Images/Logo.png" alt="Certinegie logo">  
    </div>
  <div class="nav">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="home" class="nav-link" id="focus"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
          <li class="nav-item ">
            <a  routerLink="home" class="nav-link" ><i class="fas fa-phone"></i> Contact</a>
          </li>
          <li class="nav-item">
            <a  routerLink="home" class="nav-link"><i class="fas fa-question"></i> About</a>
          </li>
        </ul>
  </div> 
</nav>
          

<router-outlet></router-outlet>

