nav{
   padding: 1px 10px;
   border-bottom: 2px solid #262D60;
   background-color: white;
}
.logo img{
    margin-right: 15px;
    height: 50px;
    width: 100px;
}
.nav-link .active{
    color: #262D60;
}
i{
    color: #AFCA0A;
}
.navbar .nav-link:focus{
    color: #AFCA0A;
}
#focus{
    color:#AFCA0A;
}
.navbar .nav-link{
	font-weight: bold;
    font-size: 18px;
    color: #262D60;
    margin-left: 5px; 
    width: 110px;
    text-align: center;
}
.navbar .nav-link:hover{
    cursor: hand;
    color: #AFCA0A;
}
