<div class="container">
    <div class="card">
      <h2 class="card-header text-white">Complaint Entry</h2>
      <div class="card-body">
        <div class="col-md-12">
          <form novalidate [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
            <fieldset>
            <div class="row">
              <div class="form-group col-md-4">
                <label>Complaint ID:</label>
                <p>Your ID</p>
              </div>
              <div class="form-group col-md-4">
                <label>Year:</label>
                <input class="form-control" type="text" pattern="\d*" maxlength="4" placeholder="yyyy" formControlName="Year">
              </div>
             <div class="form-group col-md-4">
                <label>Report Reference:</label>
                <input class="form-control" type="text" formControlName="ReportReference">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label>Domain:</label>
                <input class="form-control" type="text" formControlName="Domain">
              </div>
              <div class="form-group col-md-4">
                <label>Company Emp:</label>
                <select class="form-control" formControlName="CompanyEmp">
                  <option value="DJ Siguenza">DJ Siguenza</option>
                  <option value="Robert">Paul Calma</option>
                  <option value="Jerome Francisco">Jerome Francisco</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label>Complaint Type:</label>
                <select class="form-control" formControlName="ComplaintType">
                  <option value="1">Low Priority</option>
                  <option value="2">Medium Priority</option>
                  <option value="3">High Priority</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label>Comment:</label>
                <textarea class="form-control" rows="5" formControlName="Comment"></textarea>
              </div>
              <div class="form-group col-md-4">
                <label>Complaint Status:</label>
                <select class="form-control" formControlName="ComplaintStatus">
                  <option value="1">To Do</option>
                  <option value="2">On Progress</option>
                  <option value="3">Done</option>
                </select>
                <br>
                <label>Email Reference:</label>
                <input class="form-control" type="email" formControlName="EmailReference">
              </div>
            </div>
            </fieldset>
            <div class="row">
              <div class="col-md-12 pull-right">
                <button class="btn btn-primary btn-lg" type="submit">Submit Entry</button>
                <button class="btn btn-danger btn-lg" type="reset">Clear</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>    