.btn-add{
   margin-left: 0px;
   border-top-left-radius: 20px;
}

tr:first-child{
    border-top: none;
}
tr{
    border-top: 2px solid #AFCA0A;
}
td{
    color: #262D60;
    font-weight: bold;
}
td:first-child{
    color: #AFCA0A;
}