<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
  	<a class="navbar-brand text-white">Audit ERP</a>
    <li class="nav-item app-links">
      <a routerLink="home" class="nav-link active">Complaint Service</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

